{% extends 'shipment/base.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %}
<section id="navbackground">
    <div class="container">
        <section class="row">
            <div class="col-12 col-md-6 mx-auto text-center">

                <i class=" icofont icofont-3x icofont-headphone-alt-3" style="color:gold;"></i>
            </div>
        </section>
    </div>
</section>
<section class="py-5">
    <div class=" container">
        <div class=" row bg-white shadow-sm" style="transform: translateY(-100px);">
            <div class=" col-12 col-md-6" id="direct-contact">
                <h3>Start Talking With Us</h3>
                <div class="pt-4">
                    <h6 class="secondary_color">EMAIL US:</h6>
                    <h4>targecorporation@gmail.com</h4>
                </div>
                <div class="pt-4">
                    <h6 class="secondary_color">WhatsApp US:</h6>
                    <h4>+447851847360</h4>
                </div>
                <div class="pt-4">
                    <h6 class="secondary_color">Call Us:</h6>
                    <h4>+447851847360</h4>
                </div>
            </div>
            <div class=" col-12 col-md-6 p-5">
                <small class="text-muted">Please note message through forms takes a bit longer, contact us directly.</small>
                <form action="" method="POST" class="pt-3">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-12 mb-0">
                            {{ form.message|as_crispy_field }}
                        </div>
                    </div>
                    <div class="d-grid gap-2 py-3">
                        <input type="submit" class=" btn btn-lg btn-primary" value="Contact Us">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}