{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %}
<section id="navbackground">
    <div class="container">
        <section class="row">
            <div class="col-12 col-md-6 mx-auto text-center">
                <h5 class="text-white">Contact Us Now @</h5>
                <!-- <i class=" icofont icofont-2x icofont-email icofont-pull-left secondary_color"></i> -->
                <h3 class="text-warning" style="text-transform: lowercase;">
                    <b>contact@targeco.co</b></h3>
                <p class="text-light">Or send us a Mail</p>
            </div>
        </section>
    </div>
</section>
<section class="py-5">
    <div class=" container">
        <div class=" row">
            <div class=" col-12 col-md-6 offset-md-1 mx-auto">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-12 mb-0">
                            {{ form.message|as_crispy_field }}
                        </div>
                    </div>
                    <div class="d-grid gap-2 py-3">
                        <input type="submit" class=" btn btn-lg btn-primary" value="Contact Us">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}